[submodule "mosquittomainloop"]
	path = subprojects/mosquitto_glib
	url = https://github.com/fifteenhex/mosquittomainloop.git
[submodule "json-glib-macros"]
	path = json-glib-macros
	url = https://github.com/fifteenhex/json-glib-macros.git
[submodule "subprojects/nodectrl"]
	path = subprojects/nodectrl
	url = https://github.com/fifteenhex/nodectrl.git
[submodule "ci/travisscripts"]
	path = ci/travisscripts
	url = https://github.com/fifteenhex/travisscripts
